html {
	background-image: url(../images/background.png);
	font-family: Tahoma;
	
}



body {
	margin: 35px auto;
	width: 1000px;
	max-width: 100%;
	background-color: #ffffff;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline; 
}

header {
	padding: 10px 30px 0 30px;
	font-size: 12px;
	color: #128aa7;
}

.logo{
	float: left;
	position: relative;
}

.logo h1{
	display: block;
	position: absolute;
	bottom: 45px;
	right: 90px;
	font-size: 12px;
	font-weight: 400;
}


.contacts {
	float: right;

}

.contacts p {
	margin: 5px;
}

.countries{
	clear: right;
	padding-top: 30px;
	display: flex;
	justify-content: flex-end;
}

.countries a {
	margin-left: 12px; 
	display: inline-block;
	text-align: center;
	font-size: 10px;
	color: #128aa7;
}

.countries p {
	margin:0;
}


hr {
	clear: both;
	margin: 0;
	border-color: #128aa7;
}

body img {
	max-width: 100%;
}



		/* MENU*/

.menu {
    margin: 0;
    padding: 0;
    display: flex;
}
ul+hr{
	border-color: #000000;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;

}
ul.menu > li > a {
    display: block;
    padding: 8px;
    color: white;
    background-color: #323232;
    text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 32px;
    right: 0;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #323232;
    text-decoration: none;
    font-size: 14px;
}
ul.submenu > li > a:hover {
    text-decoration: none;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}

h3 {
	font-weight: 500;
	font-size: 19px;
	color: #424c43;
	margin: 0;

}
h3+p {
	margin: 0; 
}
.fon {
	width: 1000px; /* ширина трех блоков */
	background: url(../images/Untitled-2.png) repeat-y;  /* фоновая картинка. повторяется по вертикали */
	float: left; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
	font-size: 14px;
	line-height: 24px;
	text-align: center;

}
.leftColumn {
	
	width: 210px;
	float: left;
}
.centerColumn {
	width: 580px;
	float: left;
}
.rightColumn {
	
	width: 210px;
	float: right;
}


footer {
	font-size: 12px;
	color: #ffffff;
	position: absolute;
	top: 1005px;
	width: 1000px;
	text-align: center;
}